body {
  background-color:yellow;
  color: white;
  padding: 1em;
}

.primary{
  align-items: center;
}
table {
  border: 1px solid black;
  position: inherit;
  margin: auto;
  padding: 10px;
  width: 100px;
  height: 20px;
  background-color: rgb(232, 10, 25);
}

form{
  align-items: center;
}